.root {
    --lavender: #9106e2;
    --white: #fff;
}

body {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 4px;
    margin: 4px;
    font-weight: bold;
}

header h3 {
    font-size: 16px;
    color: #9515df;
    padding: 8px;
}

header h3:hover {
    background-color: #9515df;
    color: #f0aff8;
    cursor: pointer;
}

button {
    margin: 16px;
    padding: 4px;
    background-color: #9515df;
    color: #fff;
    align-self: center;
    cursor: pointer;
}

.container {
    display: flex;
    flex-flow: column;
    width: 75%;
    margin: auto;
}

.container h2 {
    font-size: 28px;
    text-align: center;
    margin: 20px;
}
.container button {
    margin: 8px;
    padding: 8px;
    width: 25%;
    color: #fff;
    background-color: #9515df;
}

.container button:hover {
    color: #9515df;
    background-color: #f0aff8;
}

.container p {
    text-align: center;
    margin: 8px;
    font-size: 16px;
}

label {
    margin-left: 30%;
    padding-top: 12px;
}

#rightWrongText {
    font-style: italic;
}

#timer {
    text-align: right;
}

li {
    text-align: center;  
}